body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  flex-direction: column; */
  background-color: papayawhip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  text-align: center;
}

.nav {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid rgb(29, 66, 138);
  background: rgb(29, 66, 138);
  padding: 8px;
  width: 100%;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: rgb(16, 1, 1);
}

a:hover {
  color: hotpink;

  text-decoration: underline;
}

a:active {
  color: green;
}

.footer {
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(200, 16, 46);
  position: absolute;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.east {
  text-align: center;
}

.west {
  text-align: center;
}

.body-page {
  /* padding-top: 100px; */
  background-color: papayawhip;
}

.test {
  text-align: center;
}

.list-group {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#jordan {
  height: 60px;
  width: 60px;
}

#create-link {
  padding-top: 20px;
}

#ATL {
  background-color: #e03a3e;
  color: white;
}

#BOS {
  background-color: #007a33;
  color: white;
}
#BKN {
  background-color: #000000;
  color: white;
}
#CHA {
  background-color: #1d1160;
  color: white;
}
#CHI {
  background-color: #ce1141;
  color: white;
}
#CLE {
  background-color: #860038;
  color: white;
}
#DAL {
  background-color: #00538c;
  color: white;
}
#DEN {
  background-color: #0e2240;
  color: white;
}
#DET {
  background-color: #c8102e;
  color: white;
}
#GSW {
  background-color: #1d428a;
  color: white;
}
#HOU {
  background-color: #ce1141;
  color: white;
}
#IND {
  background-color: #002d62;
  color: white;
}
#LAC {
  background-color: #c8102e;
  color: white;
}
#LAL {
  background-color: #552583;
  color: white;
}
#MEM {
  background-color: #5d76a9;
  color: white;
}
#MIA {
  background-color: #98002e;
  color: white;
}
#MIL {
  background-color: #00471b;
  color: white;
}
#MIN {
  background-color: #0c2340;
  color: white;
}
#NOP {
  background-color: #0c2340;
  color: white;
}
#NYK {
  background-color: #006bb6;
  color: white;
}
#OKC {
  background-color: #007ac1;
  color: white;
}
#ORL {
  background-color: #0077c0;
  color: white;
}
#PHI {
  background-color: #006bb6;
  color: white;
}
#PHX {
  background-color: #1d1160;
  color: white;
}
#POR {
  background-color: #e03a3e;
  color: white;
}
#SAC {
  background-color: #5a2d81;
  color: white;
}
#SAS {
  background-color: #c4ced4;
  color: black;
}
#TOR {
  background-color: #ce1141;
  color: white;
}
#UTA {
  background-color: #002b5c;
  color: white;
}
#WAS {
  background-color: #002b5c;
  color: white;
}
