body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  flex-direction: column; */
  background-color: papayawhip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  text-align: center;
}

nav {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid rgb(29, 66, 138);
  background-color: rgb(29, 66, 138);
  padding: 8px;
  /* width: 90%; */
  margin: auto;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: rgb(16, 1, 1);
}

a:hover {
  color: hotpink;

  text-decoration: underline;
}

a:active {
  color: green;
}

.footer {
  color: black;
  font-weight: bold;
  font-size: 20px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* border: 3px solid black; */
  background-color: rgb(200, 16, 46);
  /* padding: 8px; */
  /* width: 90%; */
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.east {
  text-align: center;
}

.west {
  text-align: center;
}

#jordan {
  height: 60px;
  width: 60px;
}
